launch.json
.vscode
test.py
*.pyc
results_*.zip
*.csv
*.pth
!.placeholder
*.tsf
*.json
.nfs*
plots/*.png
results/main_experiments/*.csv
results/main_experiments/*.zip
!code/datasets/legacy_ts/*.csv
*.zip
results/main_experiments_old
*_bkp.*
*.p
results/preds_2004
results
models
plots/
code/datasets/series
code/datasets/series_old
.DS_Store
*.aux
*.pdf
*.rtf
*.png
*.log
*.csv
*.npy
testenv
